<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    Quyền-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/StatusBarStyle"
        tools:targetApi="31"
        android:name=".MyApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        Màn đăng ký-->
        <activity android:name=".RegisterActivity" />

<!--        Màn đăng nhập-->
        <activity android:name=".LoginActivity" />

<!--        Màn gửi email khôi phục-->
        <activity android:name=".ForgotPasswordActivity" />

<!--        Màn nhập mật khẩu mới-->
        <activity android:name=".ResetPasswordActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="firstandroidapp.page.link"
                    android:pathPrefix="/resetPassword"/>
            </intent-filter>
        </activity>

<!--        Màn chi tiết hoạt động-->
        <activity android:name=".DetailEventActivity" />

        <!-- Khai báo SearchActivity -->
        <activity
            android:name=".SearchActivity"
            android:exported="false" />

<!--        Màn admin dashboard-->
        <activity android:name=".AdminActivity" />

        <!--        Màn quản lý danh mục-->
        <activity android:name=".ActivityManageCategory" />
        <activity android:name=".ActivitiesManageActivity" />
    </application>

</manifest>